<Settings>
  <Detail>
    <Path>RC-X Patch 1.0</Path>
    <UpdateDate>16.09.2567</UpdateDate>
    <UpdateLink>https://localhost/</UpdateLink>
  </Detail>
  <Detail>
    <Path>[NEW] เติมเงิน 100,000 บาท ลุ้นลงอ่างฟรี</Path>
    <UpdateDate>16.09.2567</UpdateDate>
    <UpdateLink>https://localhost/</UpdateLink>
  </Detail>
  <Detail>
    <Path>[NEW] เติมเงิน 200,000 บาท Clash Back เบอร์ตอง 1 คน</Path>
    <UpdateDate>16.09.2567</UpdateDate>
    <UpdateLink>https://localhost/</UpdateLink>
  </Detail>
  <Contact>
    <Discord>https://discord.gg/t3FWaYJG</Discord>
	<DiscordLogo>discord.png</DiscordLogo>
    <YouTube>https://www.youtube.com/@x64zDev</YouTube>
    <YouTubeLogo>youtube.png</YouTubeLogo>
	<Tiktok>https://www.tiktok.com/@x64zdev</Tiktok>
    <TiktokLogo>tiktok.png</TiktokLogo>
  </Contact>
</Settings>
